# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.map

# Sublime Text files
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml


# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

# Unused files
foundation.abide.js
foundation.alerts.js
foundation.clearing.js
foundation.cookie.js
foundation.dropdown.js
foundation.forms.js
foundation.interchange.js
foundation.joyride.js
foundation.magellan.js
foundation.orbit.js
foundation.placeholder.js
foundation.reveal.js
foundation.section.js
foundation.tooltips.js
foundation.topbar.js
foundation/index.js
jquery-1.7*
jquery-1.8*
jquery.js
zepto.js
_alert-boxes.scss
_block-grid.scss
_flex-video.scss
_labels.scss
_section.scss
_top-bar.scss
_breadcrumbs.scss
_magellan.scss
_side-nav.scss
_button-groups.scss
_orbit.scss
_split-buttons.scss
_grid-5.scss
_pagination.scss
_sub-nav.scss
_clearing.scss
_panels.scss
_custom-forms.scss
_inline-lists.scss
_pricing-tables.scss
_tables.scss
_dropdown-buttons.scss
_joyride.scss
_progress-bars.scss
_thumbs.scss
_dropdown.scss
_keystrokes.scss
_reveal.scss
_tooltips.scss
