// local vars

$global-shadow-color: #888;

$ipsum-container-height-mobile: 230;
$ipsum-container-height-small: 330;

$bubble-border-color: $tertiary-color;
$bubble-shadow-color: $global-shadow-color;
